@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,500,600,700|Roboto+Slab:400,700&display=swap');

body {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    height: 1059px;
    background: url(../Media/Images/header_img.png);
    background-size: auto auto;
    color: white;
    background-position: inherit;
}

.header__hiddentop {
    display: none;
}

.header__button {
    margin-left: 15px;
    margin-top: 17px;
}

.header__button_a {
    fill:#fff;
    font-size:18px;
    font-family:OpenSans-Semibold, Open Sans;
    font-weight:600;letter-spacing:0.04em;
}

.header__button_b,.header__button_d {
    fill:none;
}

.header__button_b {
    stroke:#fff;
}

.header__button_c {
    stroke:none;
}

.header__andrew {
    margin-left: 26px;
    margin-top: 21px;
    letter-spacing: 0.6px;
    word-spacing: 6.8px;
    font-family: "Open Sans", serif;
    font-size: 20px;
    font-weight: 600;
    width: 180px;
    color: #FFFFFF;
}

.header__menu {
    margin-top: 27px;
    margin-left: 110px;
    margin-right: 10px;
}

.header__menu_a {
    fill:#fff;
}

.header__orangeBlock{
    width: 570px;
    height: 140px;
    background: #EF5C3A;
    margin-left: 215px;
    display: flex;
    flex-direction: row ;
}

.orangeBlock__adress {
    margin-left: 100px;
    margin-top: 48px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    font-weight: 600;
    width: 150px;
    color: #FFFFFF;
}

.orangeBlock__contactInformation {
    margin-left: 51px;
    margin-top: 48px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    font-weight: 600;
    width: 180px;
    color: #FFFFFF;
}

.header__number {
    word-spacing: -1px;
}

.header__currentPage {
    position: relative;
    left: 80.38%;
    top: -107px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 52px;
    letter-spacing: 1px;
    font-weight: 700;
}

.header__allPages {
    position: relative;
    left: 80.6%;
    top: -130px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.header__mainText {
    margin-left: 315px;
    margin-top: 163px;
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    letter-spacing: 2.7px;
    line-height: 80px;
    font-weight: 500;
    width: 410px;
}

.header__underline {
    text-decoration: underline;
}

.wordspacing{
    word-spacing: -4px;
}

.header__description {
    margin-left: 315px;
    margin-top: 46px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 0.7px;
    line-height: 30px;
    font-weight: 400;
    width: 350px;
}

.thirdstring {
    word-spacing: 1px;
    letter-spacing: 1px;
}

.header__nextStory {
    position: relative;
    top: 93px;
    left: 315px;
    cursor: pointer;
}

.header__nextStory__a {
    fill:#fff;
    font-size:18px;
    font-family:Raleway-Bold, Raleway;
    font-weight:700;
    letter-spacing:0.04em;
}

.header__nextStory__b {
    fill:#ef5c3a;
}

.header__nextStory__c {
    fill:none;
    stroke:#fff;
    stroke-width:2px;
}
.header__playButton {
    position: relative;
    left: 860px;
    top: -352px;
    cursor: pointer;
}

.header__playButton__a {
    fill:rgba(255,255,255,0.1);
    stroke:#fff;
}

.header__playButton__b {
    fill:#fff;
}

.header__playButton__c {
    stroke:none;
}

.header__playButton__d {
    fill:none;
}

.header__info {
    display: flex;
    flex-direction: row;
}

.header__footer {
    margin-left: 215px;
    margin-top: 35px;
    letter-spacing: 0.6px;
    font-family: "Open Sans", serif;
    font-weight: 400;
}

.header__inst {
    margin-top: 35px;
    margin-left: 119px;
    cursor: pointer;
}

.header__vk {
    margin-top: 35px;
    margin-left: 20px;
    cursor: pointer;
}

.header__inst_a {
    fill:#fff;
}

.header__inst_a:hover {
    fill:#ef5c3a;
}

.header__vk_a {
    fill:#fff;
}

.header__vk_a:hover {
    fill:#ef5c3a;
}

.header__scroll {
    margin-top: 38px;
    margin-left: 311px;
    cursor: pointer;
}

.header__scroll_a {
    fill:none;
    stroke:#fff;
    stroke-width:4px;
}

.header__nameBlock {
    margin-left: 299.6px;
    display: flex;
    flex-direction: column;
}

.header__name {
    margin-top: 5px;
    margin-bottom: 1px;
    letter-spacing: 0.6px;
    word-spacing: 4.5px;
    font-family: "Open Sans", serif;
    font-weight: 600;
    height: 20px;
}

.header__contact {
    margin-top: 1px;
    letter-spacing: 0.6px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    cursor: pointer;
    width: 65px;
    height: 20px;
}

.header__photo {
    margin-left: 39px;
    margin-top: -13px;
    width: 80px;
    height: 80px;
}

.header__hiddenbot {
    display: none;
}

.header__page {
    margin-top: 100px;
    margin-left: 27px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 700;
}

.header__all {
    margin-top: 108px;
    margin-left: 5px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.navigation.mobile {
    display: none;
}

.navigation__search.mobile {
    margin-top: 25px;
    margin-left: 25px;
}

.navigation__search-form {
    border: none;
    border-bottom: 1px solid;
    margin-left: -10px;
    width: 75%;
}

.navigation__button {
    margin-left: 215px;
    margin-top: 40px;
    cursor: pointer;
}

.navigation__button_a {
    fill:#333;
    font-size:20px;
    font-family:OpenSans-Semibold, Open Sans;
    font-weight:600;letter-spacing:0.04em;
}
.navigation__button_b,.navigation__button_d {
    fill:none;
}

.navigation__button_b {
    stroke:#333;
}

.navigation__button_c {
    stroke:none;
}

.navigation__name {
    margin-left: 26.3px;
    margin-top: 50px;
    letter-spacing: 0.6px;
    word-spacing: 6.8px;
    font-family: "Open Sans", serif;
    font-size: 20px;
    font-weight: 600;
    width: 180px;
    color: #333333;
}

.navigation__portfolio {
    margin-top: 50px;
    margin-left: 392.5px;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    width: 75px;
    color: #333333;
}

.navigation__portfolio:hover {
    color: #8D8888;
}

.navigation__about {
    margin-top: 50px;
    margin-left: 48px;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    width: 55px;
    color: #333333;
}

.navigation__about:hover {
    color: #8D8888;
}

.navigation__workshop {
    margin-top: 50px;
    margin-left: 46.2px;
    font-family: "Open Sans", serif;
    font-size: 18px;
    letter-spacing: -0.1px;
    font-weight: 400;
    cursor: pointer;
    width: 90px;
    color: #333333;
}

.navigation__workshop:hover {
    color: #8D8888;
}

.navigation__contact {
    margin-top: 50px;
    margin-left: 46px;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    width: 70px;
    color: #333333;
}

.navigation__contact:hover {
    color: #8D8888;
}

.navigation__search {
    margin-top: 52px;
    margin-left: 71px;
    cursor: pointer;
    width: 31px;
}

.navigation__search_a {
     fill:#333;
 }

.photo {
    margin-top: 180px;
}

.photo__mobile {
    display: none;
}

.photo__showmobile {
    margin-left: 86px;
}

.mobile__img2 {
    margin-top: 10px;
}

.mobile__img3 {
    margin-top: 10px;
}

.mobile__img4 {
    margin-top: 10px;
}

.mobile__img5 {
    margin-top: 10px;
}

.photo__latestwork {
    margin-left: 738px;
    margin-top: -14px;
    margin-bottom: 0px;
    font-family: "Open Sans", serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.2px;
    word-spacing: 1.3px;
    width: 135px;
    color: #333333;
}

.photo__collection {
    margin-left: 621px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-family: "Raleway", serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 1.6px;
    width: 365px;
    color: #333333;
}

.photo__table {
    display: flex;
    flex-direction: row;
}

.photo__show {
    margin-left: 215px;
    margin-top: 35px;
    margin-bottom: 83px;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 400;
    word-spacing: -0.2px;
    width: 210px;
    color: #333333;
}

.photo__switch1 {
    margin-left: 882px;
    margin-top: 32px;
    cursor: pointer;
}

.photo__switch1_a {
    fill:#c9c9c9;
}

.photo__switch2 {
    margin-left: 20px;
    margin-top: 32px;
    cursor: pointer;
}

.photo__switch2_a {
    fill:#333;
}

.photo__textblock {
    width: 350px;
    height: 178px;
    background-color: white;
    color: #333333;
    border-top: 3px #e85939 solid;
    position: relative;
    top: -196px;
    left: 10px;
    cursor: pointer;
}

.photo__title {
    position: relative;
    top: -31.52px;
    left: 22px;
    font-family: "Raleway", serif;
    font-weight: 600;
    font-size: 20px;
}

.photo__maintext {
    position: relative;
    top: -42px;
    left: 22px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.photo__date {
    position: relative;
    top: -43px;
    left: 22px;
    font-family: "Open Sans", serif;
    font-weight: 400;
}

.photo__btn {
    position: relative;
    left: 320px;
    top: -3px;
}

.photo__btn_a {
    fill:#e85939;
}

.photo__btn_b {
    fill:#fff;
}

.photo__images {
    display: flex;
}

.photo__column1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -41px;
    margin-left: 215px;
}

.photo__column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-top: -41px;
}

.photo__column3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-top: -41px;
}

.photo__img1 {
    padding-bottom: 30px;
}

.photo__img5 {
    padding-bottom: 30px;
}

.photo__img2 {
    padding-bottom: 30px;
}

.photo__blockImg4 {
    height: 433px;
    padding-bottom: 30px;
}

.photo__img8 {
    padding-bottom: 30px;
}

.photo__img3 {
    padding-bottom: 30px;
}

.photo__img6 {
    padding-bottom: 30px;
}

.photo__more {
    margin-top: 70px;
    margin-left: 715px;
    width: 166px;
    height: 60px;
    border: 2px #C9C9C9 solid;
    border-radius: 4px;
}

.photo__more:hover {
    border: 2px #EF5C3A solid;
    cursor: pointer;
}

.photo__text {
    margin-left: 36px;
    font-family: "Open Sans", serif;
    font-size: 18px;
    color: #333333;
    word-spacing: -0.5px;
}

.article {
    margin-top: 139px;
}

.article__title {
    margin-left: 662px;
}

.article__about {
    margin-left: 106px;
    margin-top: 68px;
    font-family: "Open Sans", serif;
    font-weight: 600;
    font-size: 18px;
    color: #333333;
    letter-spacing: 0.5px;
}

.article__new {
    margin-top: 18px;
    margin-left: 18px;
    font-family: "Raleway", serif;
    font-weight: 600;
    font-size: 40px;
    color: #333333;
    letter-spacing: 1.53px;
    word-spacing: -0.6px;
}

.article__quotes {
    margin-top: 20px;
    margin-left: 215px;
}

.article__quotes_a {
    fill:#e15638;
}

.article__quotes_b {
    fill:#fff;
}

.article__columns {
    display: flex;
    flex-direction: row;
}

.article__column1 {
    position: relative;
    margin-left: 216px;
    margin-top: -3px;
}

.article__column2 {
    margin-left: 129px;
    margin-top: 5px;
}

.article__description1 {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 24px;
    color: #434A50;
    width: 470px;
    letter-spacing: 0.96px;
    line-height: 40px;
}

.article__description2 {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 18px;
    color: #434A50;
    width: 700px;
    letter-spacing: 0.7px;
    line-height: 39px;
}

.article__photo {
    margin-top: 43px;
    position: relative;
}

.article__btn {
    margin-left: -30px;
    margin-top: 135%;
    margin-bottom: 0px;
    position: absolute;
}


.article__btn_a {
    fill:#e85939;
}

.article__btn_b {
    fill:#fff;
}

.article__description3 {
    margin-top: 50px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 18px;
    color: #434A50;
    width: 700px;
    letter-spacing: 0.7px;
    line-height: 41px;
}

.article__description4 {
    margin-top: 51px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 18px;
    color: #434A50;
    width: 700px;
    letter-spacing: 0.7px;
    line-height: 40px;
}

.article__mobile-description1 {
    display: none;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 18px;
    color: #434A50;
    line-height: 24px;
    text-align: center;
    margin-left: 0%;
}

.article__mobile-description2 {
    display: none;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 14px;
    color: #434A50;
    line-height: 22px;
    margin-left: 5%;
}

.article__mobile-description3 {
    display: none;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 14px;
    color: #434A50;
    line-height: 22px;
    margin-left: 5%;
}

.article__mobile-description4 {
    display: none;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 14px;
    color: #434A50;
    line-height: 22px;
    margin-left: 5%;
}

.video {
    margin-left: 215px;
    margin-top: 153px;
    width: 1168px;
    height: 609px;
}

.video__landscape {
    position: relative;
    top: -849px;
    left: 215px;
}

.video__more {
    margin-left: 500px;
    margin-top: 70px;
    width: 166px;
    height: 60px;
    border: 2px #C9C9C9 solid;
    border-radius: 4px;
}

.video__more:hover {
    border: 2px #EF5C3A solid;
    cursor: pointer;
}

.video__text {
    margin-left: 36px;
    font-family: "Open Sans", serif;
    font-size: 18px;
    color: #333333;
    word-spacing: -0.5px;
}

.video .plyr {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    direction: ltr;
    font-family: Avenir,"Avenir Next","Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
    font-variant-numeric: tabular-nums;
    font-weight: 500;
    line-height: 1.7;
    max-width: 100%;
    min-width: 200px;
    position: relative;
    text-shadow: none;
    transition: box-shadow .3s ease;
    height: 605px;
}
.video .plyr--video .plyr__control:hover{
    background: #EF5C3A;

}

.video .plyr__poster {
    background-color: #000;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 91.9%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .2s ease;
    width: 100%;
    z-index: 1;
}

.video .plyr__video-embed, .plyr__video-wrapper--fixed-ratio {
    height: 0;
    padding-bottom: 56.3%;
}

.video .plyr--full-ui.plyr--video .plyr__control--overlaid {
    box-shadow: 0 0 0 2px white;
    outline: 0;
    width: 110px;
    height: 110px;
    background: rgba(255,255,255,0.1);
    display: block;
}

.video .plyr--full-ui.plyr--video .plyr__control--overlaid:hover {
    box-shadow: 0 0 0 2px white;
    outline: 0;
    width: 110px;
    height: 110px;
    background: rgba(255,255,255,0.9);
    display: block;
    color: #2f343d;
}

.video .plyr--full-ui input[type=range] {
    color: #EF5C3A;
    width: 100%;
}

.video .plyr__control--overlaid svg {
    left: 33px;
    position: relative;
}

.video .plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
    background: none;
    color: #fff;
}

.video .plyr__control.plyr__tab-focus {
    outline: 0;
    box-shadow: none;
}

.video .plyr__time {
    position: relative;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
}

.video .plyr__controls .plyr__controls__item.plyr__volume {
    display: none;
}

.video .plyr--video .plyr__controls {
    background: none;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    bottom: 30px;
    color: #fff;
    left: 59px;
    padding: 20px 20px 5px;
    position: absolute;
    right: 0;
    transition: opacity .4s ease-in-out,transform .4s ease-in-out;
    z-index: 3;
    width: auto;
}

.video .plyr__controls .plyr__controls__item:first-child {
    position: relative;
    left: -22px;
}

.video .plyr__menu {
    display: none;
}

.video .plyr__progress {
    left: -8.5px;
    margin-right: 10px;
    position: relative;
    width: 858px;
}

.video .plyr--pip-supported [data-plyr=pip] {
    display: none;
}

.video .plyr--fullscreen-enabled [data-plyr=fullscreen] {
    display: inline-block;
    position: relative;
}

.musicblock {
    margin-top: 320px;
    width: 1600px;
    height: 800px;
    background-color: #222C32;
}

.musicblock .plyr__controls .plyr__controls__item:first-child {
    box-shadow: 0 0 0 1px white;
    outline: 0;
    width: 48px;
    height: 48px;
    margin-left: 0;
    margin-right: auto;
    border-radius: 100%;
    background-color: white;
}

.musicblock .plyr--playing .plyr__controls .plyr__controls__item:first-child{
    box-shadow: 0 0 0 1px #ef5c3a;
    outline: 0;
    width: 48px;
    height: 48px;
    margin-left: 0;
    margin-right: auto;
    border-radius: 100%;
    background-color: #ef5c3a;
}

.musicblock .plyr__controls .plyr__controls__item:first-child .plyr__control--pressed {
    box-shadow: 0 0 0 0px white;
    outline: 0;
    width: 48px;
    height: 48px;
    margin-left: 0;
    margin-right: auto;
    border-radius: 100%;
    background-color: #EF5C3A;
}

.musicblock .plyr__controls .plyr__controls__item.plyr__time {
    position: relative;
    padding: 0 5px;
    left: 18px;
    bottom: 11px;
    font-family: "Open Sans", serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
}

.musicblock .plyr__controls .plyr__controls__item.plyr__volume {
    display: none;
    padding-right: 5px;
}

.musicblock .plyr__menu {
    display: none;
    position: relative;
}

.musicblock .plyr__controls .plyr__controls__item.plyr__progress__container {
    padding-left: 28px;
    position: relative;
    bottom: -18px;
}

.musicblock .plyr--full-ui input[type=range] {
    -webkit-appearance: none;
    background: 0 0;
    border: 0;
    border-radius: 26px;
    color: #EF5C3A;
    display: block;
    height: 19px;
    padding: 0;
    transition: box-shadow .3s ease;
    width: 100%;
}

.musicblock .plyr__control svg {
    display: block;
    fill: currentColor;
    height: 18px;
    pointer-events: none;
    width: 18px;
    color: #333;
    position: relative;
    left: 8px;
}

.musicblock .plyr--audio .plyr__controls {
    background: none;
    border-radius: inherit;
    color: #4f5b5f;
    padding: 10px;
}

.musicblock .plyr__progress {
    left: 6.5px;
    margin-right: -11px;
    position: relative;
}

.musicblock__columns {
    display: flex;
    flex-direction: row;
}

.musicblock__description {
    margin-top: 95px;
    margin-left: 215px;
    font-family: "Raleway", serif;
    font-size: 40px;
    font-weight: 600;
    color: #8F9093;
    letter-spacing: 1.5px;
}

.musicblock__vk {
    margin-top: 104px;
    margin-left: 74px;
}

.musicblock__vk_a {
     fill:#8f9093;
}

.musicblock__vk_a:hover {
    fill:#e15638;
    cursor: pointer;
}

.musicblock__youtube {
    margin-left: 26px;
}

.musicblock__youtube_a {
     fill:#8f9093;
}

.musicblock__youtube_a:hover {
    fill:#e15638;
    cursor: pointer;
}

.musicblock__title1 {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    position: relative;
    top: 56px;
    left: 88px;
}

.musicblock__title2 {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    position: relative;
    top: 56px;
    left: 88px;
}

.musicblock__title3 {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    position: relative;
    top: 56px;
    left: 88px;
}

.musicblock__title4 {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    position: relative;
    top: 56px;
    left: 88px;
}

.musicblock__title5 {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    position: relative;
    top: 56px;
    left: 88px;
}

.musicblock__mobile-title1 {
    display: none;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.musicblock__mobile-title2 {
    display: none;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.musicblock__mobile-title3 {
    display: none;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.musicblock__mobile-title4 {
    display: none;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.musicblock__mobile-title5 {
    display: none;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.musicblock__songName {
    opacity: 0.5;
}

.musicblock__song1 {
    margin-left: 206px;
    margin-top: -3px;
    width: 735px;
}

.musicblock__song2 {
    margin-left: 206px;
    margin-top: -29px;
    width: 735px;
}

.musicblock__song3 {
    margin-left: 206px;
    margin-top: -29px;
    width: 735px;
}

.musicblock__song4 {
    margin-left: 206px;
    margin-top: -29px;
    width: 735px;
}

.musicblock__song5 {
    margin-left: 206px;
    margin-top: -29px;
    width: 735px;
}

.musicblock__image {
    margin-left: 74px;
    margin-top: 95px;
}

.footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.footer__quotes {
    margin-left: 782px;
}

.footer__quotes_a {
    fill:#ef5c3a;
}

.footer__quotes_b {
    fill:#fff;
}

.footer__goal {
    margin-left: 351px;
    margin-top: 43px;
    font-family: "Open Sans", serif;
    font-size: 24px;
    font-weight: 400;
    color: #434A50;
    text-align: center;
    letter-spacing: 1px;
    line-height: 40px;
    width: 900px;
}

.footer__mobile-goal {
    font-family: "Open Sans", serif;
    font-weight: 400;
    color: #434A50;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.footer__span {
    font-family: "Open Sans", serif;
    font-size: 24px;
    font-weight: 400;
    color: #434A50;
    letter-spacing: 1px;
    position: relative;
    left: -4px;
}

.footer__description {
    width: 1600px;
    height: 153px;
    background: #222C32;
    display: flex;
    flex-direction: row;
    margin-top: 72px;
}

.footer__copyright {
    margin-top: 65px;
    margin-left: 215px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 18px;
    opacity: 0.5;
    color: #FFFFFF;
    word-spacing: 1px;
}

.footer__portfolio {
    margin-top: 65px;
    margin-left: 637.5px;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 400;
    width: 75px;
    color: #FFFFFF;
    cursor: pointer;
}

.footer__portfolio:hover {
    color: #8D8888;
}

.footer__workshop {
    margin-top: 65px;
    margin-left: 47px;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 400;
    width: 75px;
    color: #FFFFFF;
    cursor: pointer;
}

.footer__workshop:hover {
    color: #8D8888;
}

.footer__contact {
    margin-top: 65px;
    margin-left: 61px;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 400;
    width: 75px;
    color: #FFFFFF;
    cursor: pointer;
}

.footer__contact:hover {
    color: #8D8888;
}

.footer__inst {
    display: none;
}

.footer__vk {
    display: none;
}

.footer__inst_a {
    fill:#8f9093;
}

.footer__vk_a {
    fill:#8f9093;
}

.footer__mobile-description {
    display: none;
}

.footer__mobile-portfolio {
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
    width: 75px;
    color: #FFFFFF;
}

.footer__mobile-workshop {
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
    width: 75px;
    color: #FFFFFF;
}

.footer__mobile-contact {
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
    width: 75px;
    color: #FFFFFF;
}

.footer__mobile-copyright {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.5;
    color: #FFFFFF;
    word-spacing: 1px;
}

.footer__mobile-goal {
    display: none;
}
