@media screen and  (max-width: 1500px) {

    .header__footer {
        margin-left: 10%;
    }

    .header__inst {
        margin-left: 5%;
    }

    .header__vk {
        margin-left: 1%;
    }

    .header__scroll {
        margin-left: 20%;
    }

    .header__contact {
        margin-top: 20px;
    }

    .navigation__button {
        margin-left: 5%;
    }

    .navigation__portfolio {
        margin-left: 30%;
    }

    .photo__latestwork {
        margin-left: 42%;
    }

    .photo__collection {
        margin-left: 34%;
    }

    .photo__switch1 {
        margin-left: 40%;
    }

    .photo__column1 {
        margin-left: 5%;
    }

    .photo__more {
        margin-left: 45%;
    }

    .video .plyr {
        height: auto;
    }

    .musicblock {
        width: 100%;
    }

    .footer__description {
        width: 100%;
    }

}

@media screen and  (max-width: 1200px) {

    .photo__column1 {
        margin-left: 0%;
    }

    .photo__column2 {
        margin-left: 0%;
    }

    .photo__column3 {
        margin-left: 0%;
    }

    .video {
        width: auto;
        height: auto;
    }
    .article__btn {
        margin-top: 64.5%;
    }
}

@media screen and (max-width: 1400px){

    .article__columns {
        flex-direction: column;
    }

    .article__column2 {
        margin-left: 215px;
    }

    .article__title {
        margin-left: 30%;
    }

    .video {
        margin-left: 0%;
    }

    .video__more {
        margin-left: 40%;
    }

    .musicblock__columns {
        flex-direction: column;
    }

    .musicblock {
        width: 100%;
        height: 100%;
    }

    .musicblock__description {
        margin-left: 73px;
    }

    .musicblock__song1 {
        margin-left: 60px;
    }

    .musicblock__song2 {
        margin-left: 60px;
    }

    .musicblock__song3 {
        margin-left: 60px;
    }

    .musicblock__song4 {
        margin-left: 60px;
    }

    .musicblock__song5 {
        margin-left: 60px;
    }

    .footer__quotes {
        margin-left: 50%;
    }

    .footer__goal {
        margin-left: 10%;
    }

    .footer__copyright {
        margin-left: 5%;
    }

    .footer__portfolio {
        margin-left: 30%;
    }
}

@media screen and (max-width: 1115px) {

    .photo__images {
        flex-direction: column;
    }

    .photo__latestwork {
        margin-left: 44%;
    }

    .photo__collection {
        margin-left: 34%;
    }

    .photo__img2 {
        padding-top: 70px;
    }

    .photo__img3 {
        padding-top: 70px;
    }

    .photo__more {
        margin-left: 42%;
    }
    .article__btn {
        margin-top: 70.5%;
           }
}

@media screen and (max-width: 1000px) {

    .header__orangeBlock {
        margin-left: 0%;
    }

    .header__nextStory {
        left: 0px;
    }

    .header__mainText {
        margin-left: 0px;
    }

    .header__description {
        margin-left: 0px;
    }

    .header__playButton {
        left: 450px;
    }

    .header__nameBlock {
        margin-left: 5%;
    }

    .navigation__portfolio {
        margin-left: 10%;
    }

    .article__title {
        margin-left: 0%;
        width: 100%;
    }

    .article__quotes {
        margin-left: 0%;
    }

    .article__column1 {
        margin-left: 0%;
    }

    .article__column2 {
        margin-left: 0%;
    }

    .article__about {
        width: 50%;
    }

    .article__new {
        width: 50%;
    }

    .article__description1 {
        width: 100%;
    }

    .article__description2 {
        width: 100%;
    }

    .article__description3 {
        width: 100%;
    }

    .article__description4 {
        width: 100%;
    }
    .article__btn {
        margin-top: 63.5%;
            }

    .footer__goal {
        width: 100%;
        margin-left: 0%;
    }

    .footer__span {
        width: 100%;
    }

    .musicblock__song1 {
        width: 80%;
    }

    .musicblock__title1 {
        width: 80%;
    }

    .musicblock__song2 {
        width: 80%;
    }

    .musicblock__title2 {
        width: 80%;
    }

    .musicblock__song3 {
        width: 80%;
    }

    .musicblock__title3 {
        width: 80%;
    }

    .musicblock__song4 {
        width: 80%;
    }

    .musicblock__title4 {
        width: 80%;
    }

    .musicblock__song5 {
        width: 80%;
    }

    .musicblock__title5 {
        width: 80%;
    }
}
@media screen and (max-width: 700px) {
    .photo__switch1 {
        margin-left: 19%;
    }
}
@media screen and (max-width: 650px) {
    .navigation__portfolio {
        margin-left: 4%;
    }
    .photo__switch1 {
        margin-left: 4%;
    }
    .footer__portfolio {
        margin-left: 2%;
    }
}
@media screen and (max-width: 600px) {
    .article__btn {
        margin-top: 105.8%;
    }
    .article__about {
       margin-left: 35%;
    }
    .video .mix {
        display: none;
    }
    .orangeBlock__adress {
        margin-left: 12px;
    }
    .header__currentPage {
        left: 75.38%;
    }
    .header__allPages {
        left: 75.6%;
    }
    .navigation__portfolio {
        margin-left: 2%;
    }
    .navigation__workshop {
        margin-left: 5%;
    }
    .navigation__about {
        margin-left: 5%;
    }
    .navigation__contact {
        margin-left: 5%;
    }
    .navigation__search {
        margin-left: 5%;
    }
    .navigation__button {
        margin-left: 1%;
    }
    .navigation__name {
        margin-left: 9px;
        margin-top: 37px;
    }
    .navigation {
        width: 90%;
    }
    .article {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .article__title {
    margin-left: 0%;
    }

    .photo__more {
        margin-left: 35%;
    }
    .article__btn {
        margin-top: 112.1%;
    }
    .photo__show {
        margin-left: 135px;
    }
    .photo__collection {
        margin-left: 20%;
    }
    .photo__latestwork {
        margin-left: 41%;
    }
    .header__footer {
        margin-left: 1%;
    }
    .header__scroll {
        margin-left: 12%;
    }
    .musicblock__song1 {
        margin-left: 11px;
    }
    .musicblock__song2{
        margin-left: 11px;
    }
    .musicblock__song3 {
        margin-left: 11px;
    }
    .musicblock__song4 {
        margin-left: 11px;
    }
    .musicblock__song5 {
        margin-left: 11px;
    }
    .article__title {
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
@media screen and (max-width: 500px) {
    .photo__switch1 {
        margin-left: 0%;
    }
    .photo__collection {
        margin-left: 13%;
    }
    .photo__show {
        margin-left: 87px;
    }
    .navigation__name {
        margin-left: 0px;
    }
}
@media screen and (max-width: 490px) {
    .article__btn {
        margin-top: 129.8%;
    }
    .photo__collection {
        margin-left: 15%;
    }
    .navigation__about {
        margin-left: 14px;
    }
    .navigation__workshop {
        margin-left: 14px;
    }
    .navigation__contact {
        margin-left: 14px;
    }
}
@media screen and (max-width: 480px) {
    .article__btn {
        margin-top: 132.3%;
    }
}
@media screen and (max-width: 470px) {
    .article__btn {
        margin-top: 135.3%;
    }
    .header__orangeBlock {
        display: none;
    }
    .header__hiddentop {
        display: flex;
        flex-direction: row;;
    }

    .header__currentPage {
        display: none;
    }

    .header__allPages {
        display: none;
    }
    .header__description {
        display: none;
    }

    .header__playButton {
        left: 20px;
        top: 54px;
    }
    .header__info {
        display: none;
    }
}
@media screen and (max-width: 425px) {
    .header__orangeBlock {
        display: none;
    }

    .header__hiddentop {
        display: flex;
        flex-direction: row;;
    }

    .header__currentPage {
        display: none;
    }

    .header__allPages {
        display: none;
    }

    .header__nextStory {
        top: 625px;
        left: 135px;
    }

    .header__mainText {
        margin-left: 10px;
        margin-top: 25px;
        font-size: 45px;
        width: auto;
    }

    .header__description {
        display: none;
    }

    .header__playButton {
        left: 20px;
        top: 54px;
    }

    .header__info {
        display: none;
    }

    .header {
        height: 752px;
    }

    .header__hiddenbot {
        display: flex;
        flex-direction: row;
    }

    .navigation {
        display: none;
    }

    .navigation.mobile {
        display: flex;
        flex-direction: row;
    }

    .photo {
        margin-top: 70px;
    }

    .photo__latestwork {
        font-size: 14px;
        margin-left: 175px;
    }

    .photo__collection {
        font-size: 25px;
        margin-left: 105px;
        width: auto;
    }

    .photo__showmobile {
        margin-left: 144px;
    }

    .photo__table {
        display: none;
    }

    .photo__images {
        display: none;
    }

    .photo__mobile {
        display: flex;
        flex-direction: column;
    }

    .photo__more {
        margin-left: 5%;
        margin-top: 24px;
        width: 90%;
    }

    .photo__text {
        margin-left: 35.5%;
    }

    .article__about {
        margin-left: 45%;
        font-size: 14px;
    }

    .article__new {
        margin-left: 34%;
        font-size: 25px;
    }

    .article__quotes {
        margin-left: 47%;
    }

    .article__column1 {
        margin-left: 0%;
    }

    .article__column2 {
        margin-left: 14%;
    }

    .article__description1 {
        display: none;
    }

    .article__description2 {
        display: none;
    }

    .article__description3 {
        display: none;
    }

    .article__description4 {
        display: none;
    }

    .article__photo {
        width: 100%;
    }

    .article__mobile-description1 {
        display: block;
        margin-left: 5%;
    }

    .article__mobile-description2 {
        display: block;
    }

    .article__mobile-description3 {
        display: block;
    }

    .article__mobile-description4 {
        display: block;
    }

    .video {
        margin-top: 20px;
        width: auto;
        height: auto;
    }

    .video__more {
        margin-left: 5%;
        width: 90%;
    }

    .video .plyr--video .plyr__control svg {
        color: black;
    }

    .video .plyr--full-ui.plyr--video .plyr__control--overlaid {
        background: rgba(255, 255, 255, 1);
    }

    .video__text {
        margin-left: 37%;
    }

    .musicblock {
        margin-top: 50px;
        height: auto;
    }

    .musicblock__image {
        display: none;
    }

    .musicblock__description {
        font-size: 25px;
        text-align: center;
        margin-top: 10%;
        margin-left: 15%;
        width: 70%;
    }

    .musicblock__song1 {
        margin-left: 4%;
        margin-bottom: 40px;
        width: 90%;
    }

    .musicblock__song2 {
        margin-left: 4%;
        margin-bottom: 40px;
        width: 90%;
    }

    .musicblock__song3 {
        margin-left: 4%;
        margin-bottom: 40px;
        width: 90%;
    }

    .musicblock__song4 {
        margin-left: 4%;
        margin-bottom: 40px;
        width: 90%;
    }

    .musicblock__song5 {
        margin-left: 4%;
        width: 90%;
    }

    .musicblock .plyr__controls .plyr__controls__item:first-child {
        width: 40px;
        height: 40px;
    }

    .musicblock .plyr__control svg {
        left: 5px;
    }

    .musicblock .plyr__progress {
        margin-left: -20px;
        width: 140%;
    }

    .musicblock__title1 {
        display: none;
    }

    .musicblock__title2 {
        display: none;
    }

    .musicblock__title3 {
        display: none;
    }

    .musicblock__title4 {
        display: none;
    }

    .musicblock__title5 {
        display: none;
    }

    .musicblock__mobile-title1 {
        display: block;
        margin-left: 65px;
        margin-bottom: -35px;
        margin-top: 40px;
    }

    .musicblock__mobile-title2 {
        display: block;
        margin-left: 65px;
        margin-bottom: -35px;
    }

    .musicblock__mobile-title3 {
        display: block;
        margin-left: 65px;
        margin-bottom: -35px;
    }

    .musicblock__mobile-title4 {
        display: block;
        margin-left: 65px;
        margin-bottom: -35px;
    }

    .musicblock__mobile-title5 {
        display: block;
        margin-left: 65px;
        margin-bottom: -35px;
    }

    .musicblock__vk {
        margin-top: 50px;
        margin-left: 165px;
        margin-bottom: 50px;
    }

    .musicblock__youtube {
        margin-bottom: 50px;
    }

    .footer__goal {
        display: none;
    }

    .footer__mobile-goal {
        display: block;
    }

    .footer__quotes {
        margin-left: 45%;
    }

    .footer__description {
        display: none;
    }

    .footer__mobile-description {
        display: flex;
        flex-direction: column;
        background: #222C32;
    }

    .footer__inst {
        display: block;
    }

    .footer__vk {
        display: block;
    }

    .footer__row1 {
        display: flex;
    }

    .footer__row2 {
        display: flex;
    }

    .footer__row3 {
        display: flex;
    }

    .footer__mobile-portfolio {
        margin-left: 5%;
    }

    .footer__mobile-workshop {
        margin-left: 17%;
    }

    .footer__mobile-contact {
        margin-left: 24%;
    }

    .footer__inst {
        margin-left: 35%;
    }

    .footer__vk {
        margin-left: 12%;
    }

    .footer__mobile-copyright {
        margin-left: 28%;
    }
}

@media screen and (max-width: 375px){

    .photo__latestwork {
        margin-left: 137px;
    }

    .photo__collection {
        margin-left: 69px;
        width: auto;
    }

    .photo__showmobile {
        margin-left: 108px;
    }

    .musicblock .plyr__progress {
        margin-left: -20px;
        width: 150%;
    }

    .footer__mobile-portfolio {
        margin-left: 5%;
    }

    .footer__mobile-workshop {
        margin-left: 15%;
    }

    .footer__mobile-contact {
        margin-left: 20%;
    }

    .footer__inst {
        margin-left: 35%;
    }

    .footer__vk {
        margin-left: 12%;
    }

    .footer__mobile-copyright {
        margin-left: 27%;
    }
    .article__btn {
        margin-top: 135.8%;
    }
    .musicblock__vk {
        margin-left: 140px;
    }
    .footer__mobile-portfolio {
        margin-left: 1%;
    }
    .video .plyr--full-ui.plyr--video .plyr__control--overlaid {
        width: 40px;
        height: 40px;
    }
    .video .plyr--full-ui.plyr--video .plyr__control--overlaid:hover {
        width: 40px;
        height: 40px;
    }
    .video .plyr--video .plyr__controls{
        display: none;
    }
    .video .plyr--video .plyr__control svg {
        left: -2px;
        top: -4px;
    }
    .musicblock .plyr__controls .plyr__controls__item:first-child:hover {
        width: 40px;
        height: 40px;
    }
    .article__title {
        margin-left: -4%;
    }
    .article__quotes {
        margin-left: -57%;
    }
    .article__new {
        margin-left: 29%;
    }
    .article__mobile-description1 {
        margin-left: 0%;
    }
    .navigation__search-form {
        margin-left: -3px;
    }
    .photo__showmobile {
        margin-left: 96px;
    }
    .article__column2 {
        margin-left: 5%;
    }
    .footer {
        margin-top: 36px;
    }
    .header__andrew {
        margin-top: 6px;
    }
    .header__page {
        margin-top: 123px;
    }
    .header__all {
        margin-top: 128px;
    }

}

@media screen and (max-width: 320px) {

    .header__orangeBlock {
        display: none;
    }

    .header__hiddentop {
        display: flex;
        flex-direction: row;;
    }

    .header__currentPage {
        display: none;
    }

    .header__allPages {
        display: none;
    }

    .header__nextStory {
        top: 625px;
        left: 135px;
    }

    .header__mainText {
        margin-left: 10px;
        margin-top: 25px;
        font-size: 45px;
        width: auto;
    }

    .header__description {
        display: none;
    }

    .header__playButton {
        left: 20px;
        top: 54px;
    }

    .header__info {
        display: none;
    }

    .header {
        height: 752px;
    }

    .header__hiddenbot {
        display: flex;
        flex-direction: row;
    }

    .navigation {
        display: none;
    }

    .navigation.mobile {
        display: flex;
        flex-direction: row;
    }

    .photo {
        margin-top: 70px;
    }

    .photo__latestwork {
        font-size: 14px;
        margin-left: 115px;
    }

    .photo__collection {
        font-size: 25px;
        margin-left: 46px;
    }

    .photo__showmobile {
        margin-left: 85px;
    }

    .photo__table {
        display: none;
    }

    .photo__images {
        display: none;
    }

    .photo__mobile {
        display: flex;
        flex-direction: column;
    }

    .photo__more {
        margin-left: 5%;
        margin-top: 24px;
        width: 90%;
    }

    .photo__text {
        margin-left: 35.5%;
    }

    .article__about {
        margin-left: 41%;
        font-size: 14px;
    }

    .article__new {
        margin-left: 25%;
        font-size: 25px;
    }

    .article__quotes {
        margin-left: 43%;
    }

    .article__column1 {
        margin-left: 0%;
    }

    .article__column2 {
        margin-left: 0%;
    }

    .article__description1 {
        display: none;
    }

    .article__description2 {
        display: none;
    }

    .article__description3 {
        display: none;
    }

    .article__description4 {
        display: none;
    }

    .article__photo {
        width: 100%;
    }

    .article__mobile-description1 {
        display: block;
    }

    .article__mobile-description2 {
        display: block;
    }

    .article__mobile-description3 {
        display: block;
    }

    .article__mobile-description4 {
        display: block;
    }

    .video {
        margin-top: 20px;
        width: auto;
        height: auto;
    }

    .video__more {
        margin-left: 5%;
        width: 90%;
    }

    .video .plyr--video .plyr__control svg {
        color: black;
    }

    .video .plyr--full-ui.plyr--video .plyr__control--overlaid {
        background: rgba(255,255,255,1);
    }

    .video__text {
        margin-left: 33%;
    }

    .musicblock {
        margin-top: 50px;
        height: auto;
    }

    .musicblock__image {
        display: none;
    }

    .musicblock__description {
        font-size: 25px;
        text-align: center;
        margin-top: 10%;
        margin-left: 15%;
        width: 70%;
    }

    .musicblock__song1 {
        margin-left: 4%;
        margin-bottom: 40px;
    }

    .musicblock__song2 {
        margin-left: 4%;
        margin-bottom: 40px;
    }

    .musicblock__song3 {
        margin-left: 4%;
        margin-bottom: 40px;
    }

    .musicblock__song4 {
        margin-left: 4%;
        margin-bottom: 40px;
    }

    .musicblock__song5 {
        margin-left: 4%;
    }

    .musicblock .plyr__controls .plyr__controls__item:first-child {
        width: 40px;
        height: 40px;
    }

    .musicblock .plyr__control svg {
        left: 5px;
    }

    .musicblock .plyr__progress {
        margin-left: -20px;
        width: 165%;
    }

    .musicblock__title1 {
        display: none;
    }

    .musicblock__title2 {
        display: none;
    }

    .musicblock__title3 {
        display: none;
    }

    .musicblock__title4 {
        display: none;
    }

    .musicblock__title5 {
        display: none;
    }

    .musicblock__mobile-title1 {
        display: block;
        margin-left: 65px;
        margin-bottom: -35px;
        margin-top: 40px;
    }

    .musicblock__mobile-title2 {
        display: block;
        margin-left: 65px;
        margin-bottom: -35px;
    }

    .musicblock__mobile-title3 {
        display: block;
        margin-left: 65px;
        margin-bottom: -35px;
    }

    .musicblock__mobile-title4 {
        display: block;
        margin-left: 65px;
        margin-bottom: -35px;
    }

    .musicblock__mobile-title5 {
        display: block;
        margin-left: 65px;
        margin-bottom: -35px;
    }

    .musicblock__vk {
        margin-top: 50px;
        margin-left: 114px;
        margin-bottom: 50px;
    }

    .musicblock__youtube {
        margin-bottom: 50px;
    }

    .footer__goal {
        display: none;
    }

    .footer__mobile-goal {
        display: block;
    }

    .footer__quotes {
        margin-left: 45%;
    }

    .footer__mobile-portfolio {
        margin-left: 5%;
    }

    .footer__mobile-workshop {
        margin-left: 13%;
    }

    .footer__mobile-contact {
        margin-left: 15%;
    }

    .footer__inst {
        margin-left: 35%;
    }

    .footer__vk {
        margin-left: 12%;
    }

    .footer__mobile-copyright {
        margin-left: 22%;
    }
}
