// ==========================================================================
// Header
// ==========================================================================

header {
    padding-bottom: $spacing-base;
    text-align: center;

    .call-to-action {
        margin-top: ($spacing-base * 1.5);
    }

    @media only screen and (min-width: $screen-md) {
        margin-right: ($spacing-base * 3);
        max-width: 360px;
        padding-bottom: ($spacing-base * 2);
        text-align: left;
    }
}
