// ==========================================================================
// Icons
// ==========================================================================

// Base size icon styles
.icon {
    fill: currentColor;
    height: $icon-size;
    vertical-align: -3px;
    width: $icon-size;
}

// Within elements
a svg,
button svg,
label svg {
    pointer-events: none;
}

a .icon,
.btn .icon {
    margin-right: floor($spacing-base / 3);
}
