// ==========================================================================
// Basic media
// ==========================================================================

img,
video,
audio {
    max-width: 100%;
    vertical-align: middle;
}
