// ==========================================================================
// Navigation
// ==========================================================================

nav {
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-base;
}
