// ==========================================================================
// Hidden
// ==========================================================================

[hidden] {
    display: none;
}

// Hide only visually, but have it available for screen readers: h5bp.com/v
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    opacity: 0.001;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
