// ==========================================================================
// Animations
// ==========================================================================

// Fade
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
