// ==========================================================================
// Errors (AWS pages)
// ==========================================================================

// Error page
html.error,
.error body {
    height: 100%;
}

html.error {
    background: $page-background;
    background-attachment: fixed;
}

.error body {
    align-items: center;
    display: flex;
    width: 100%;
}

.error main {
    padding: $spacing-base;
    text-align: center;
    width: 100%;

    p {
        @include font-size($font-size-large);
    }
}
