// ==========================================================================
// Super basic grid
// ==========================================================================

.grid {
    margin: 0 auto;
    padding: $spacing-base;

    @media only screen and (min-width: $screen-md) {
        align-items: center;
        display: flex;
        max-width: $container-max-width;
        width: 100%;

        > * {
            flex: 1;
        }
    }
}
