// ==========================================================================
// Headings
// ==========================================================================

h1 {
    @include font-size($font-size-h1);
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-headings;
    line-height: 1.2;
    margin: 0 0 $spacing-base;
}
