// ==========================================================================
// Colors
// ==========================================================================

// Greyscale
$gray-dark: #343f4a;
$gray: #55646b;
$gray-light: #cbd0d3;
$gray-lighter: #dbe3e8;
$off-white: #f2f5f7;

// Text
$color-text: #fff;

// Plyr
$color-brand-primary: #1aafff;

// Brands
$color-twitter: #4baaf4;
$color-youtube: #cc181e;
$color-vimeo: #19b7ed;

// Elements
$color-link: #fff;
$color-background: $color-brand-primary;

// Buttons
$color-button-background: #fff;
$color-button-text: $gray;

// Focus
$tab-focus-default-color: #fff;
