// ==========================================================================
// Misc cosmetic
// ==========================================================================

// Button count arrow size
$arrow-size: 5px;

// Radii
$border-radius-base: 4px;

// Background
$page-background: linear-gradient(to left top, lighten($color-background, 10%), darken($color-background, 20%));
