// ==========================================================================
// Typography
// ==========================================================================

$font-sans-serif: 'Gordita', 'Avenir', 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

$font-size-base: 15;
$font-size-small: 13;
$font-size-large: 18;
$font-size-h1: 64;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-black: 900;

$line-height-base: 1.75;

$letter-spacing-headings: -0.025em;
